# List

1) List is an ordered sequence of items. 
 
2) We can have different data types under a list. E.g we can have integer, float and string items in 
a same list.

## List Creation

In [1]:
list1 = [] # Empty List

In [2]:
print(type(list1))

<class 'list'>

In [3]:
list2 = [20,30,40] #list of integer number

In [4]:
print(type(list2))

<class 'list'>

In [5]:
list3 = [5.4,6.2,7.8] #list of float number

In [6]:
print(type(list3))

<class 'list'>

In [7]:
list4 = ['apple','ball','cat'] #list of strings

In [8]:
print(type(list4))

<class 'list'>

In [10]:
list5 = ['shaikh',40,[20,40],[10,30]] #nested list

In [11]:
list6 = [25, 'ayan',4.6] #list of mixed data types

In [12]:
len(list6)

3

In [13]:
list4[0] #retreive first elements of the list

'apple'

In [14]:
list5[0][1] #nested indexing access the second character of the first list element

'h'

In [15]:
list3[-1] #last element of the list

7.8

### list slicing

In [16]:
mylist = ['one','two','three','four','five','six','seven','eight']

In [18]:
mylist[0:5] #return all the items from 0th to fifth index location excluding the item

['one', 'two', 'three', 'four', 'five']

In [19]:
mylist[:4] #return first four items

['one', 'two', 'three', 'four']

In [20]:
mylist[-2:] #return last two items

['seven', 'eight']

In [21]:
mylist[-1:] #return last item of the list

['eight']

In [22]:
mylist[:] #return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Add Remove and Change items

In [23]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [24]:
mylist.append('nine')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [25]:
mylist.insert(9,'ten') #add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [29]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [31]:
mylist.insert(0,'zero') #add item at index location 1
mylist

['zero',
 'zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [32]:
mylist.pop(0) #remove first item of the list
mylist

['zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [33]:
mylist.pop() #remove last element of the list
mylist

['zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine']

In [36]:
del mylist[9] #remove element at 10 index location
mylist

['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [37]:
#change value of the string
mylist[0] = 0
mylist[1] = 1
mylist[2] = 2
mylist

[0, 1, 2, 'three', 'four', 'five', 'six', 'seven', 'eight']

In [38]:
mylist.clear() #empty list delete all item of the list
mylist

[]

In [39]:
del mylist #delete the whole list
mylist

NameError: name 'mylist' is not defined

### copy list

In [40]:
mylist = ['one','two','three','four','five','six','seven','eight','nine','ten']

In [41]:
mylist1 = mylist # create a new refrence mylist1

In [42]:
id(mylist), id(mylist1) #the address of both mylist and mylist1 will be same

(3174586336064, 3174586336064)

In [43]:
mylist2 = mylist.copy() #create a copy of the list

In [44]:
id(mylist2) #the address of mylist2 will be diffirent from mylist

3174586210048

In [45]:
mylist[0] = 1

In [46]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [47]:
mylist1 #mylist1 will also be impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [48]:
mylist2 #copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

### join list

In [1]:
list1 = ['one', 'two', 'three', 'four'] 
list2 = ['five', 'six', 'seven', 'eight']

In [2]:
list3 = list1 + list2 # Join two lists by '+' operator 
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [3]:
list1.extend(list2) #Append list2 with list1 
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### list membership

In [4]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [5]:
'one' in list1 #checks if 'one' exist in the list

True

In [6]:
'nine' in list1 #checks if 'one' exist in the list

False

In [9]:
if 'four' in list1: #check if four in the list1
    print('four is present in the list')
else:
    print('four is not present in the list')

four is present in the list

In [10]:
if 'ten' in list1: #check if ten in the list1
    print('ten is present in the list')
else:
    print('ten is not present in the list')

ten is not present in the list

### reverse and sort

In [4]:
list1 = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [7]:
list1.reverse() #reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [8]:
list1 = list1[::-1] #reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [9]:
mylist4 =[52,64,20,16,30,78,25]
mylist4.sort() #sort list in ascending order
mylist4

[16, 20, 25, 30, 52, 64, 78]

In [11]:
mylist4.sort(reverse= True) #sort list in descending order
mylist4

[78, 64, 52, 30, 25, 20, 16]

In [17]:
mylist5 = [88,65,33,21,11,98] 
sorted(mylist5)

[11, 21, 33, 65, 88, 98]

In [18]:
mylist5

[88, 65, 33, 21, 11, 98]

### loop through a list

In [19]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [20]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [21]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### count

In [22]:
list8= ['one','two','one','two','four','two','three','one','three']

In [23]:
list8.count('two') #number of times item two occured in the list

3

In [24]:
list8.count('one') #number of times item one occured in the list

3

In [25]:
list8.count('three') #number of times item three occured in the list

2

### All/Any

the all() metheod returns:
   True if all element in the list are true
   False if any element in the list are false

the Any() function returns true if any element in the list is true

In [26]:
L1 = [1,2,3,5,0]
all(L1) #will return False as one value is false value(0)

False

In [27]:
any(L1) #will return true as we have items in the list with true value

True

In [2]:
L2 = [1,2,3,4,True,False]
all(L2) #will return False as one value is false

False

In [3]:
any(L2) #will return True as we have items in the list have true value

True

In [5]:
L3 = [1,2,3,True]
all(L3) #will return true as we have all item in the list are true

True