# loops in python

2 types of loops
1.while loop & for loop
2.while else & for else

# while loop

In [1]:
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')

Data Science
Data Science
Data Science
Data Science
Data Science

In [4]:
i = 1 #initializing
while i <= 5:
    print('Data Science')
    i =i+1 #increament

Data Science
Data Science
Data Science
Data Science
Data Science

In [6]:
i = 5 #initilizing
while i >= 1:    #condition
    print('Data Science')
    i =i-1 #decreament

Data Science
Data Science
Data Science
Data Science
Data Science

In [8]:
i = 1
while i<=4:
    print('Data Science:',i)
    i =i+1

Data Science: 1
Data Science: 2
Data Science: 3
Data Science: 4

In [11]:
i=1
while i<=4:
    print('Data Science')
    j=1
    while j<=3:
        print('Technology')
        j = j+1
    i=i+1
    print()

Data Science
Technology
Technology
Technology

Data Science
Technology
Technology
Technology

Data Science
Technology
Technology
Technology

Data Science
Technology
Technology
Technology

In [12]:
i=1
while i<=4:
    print('Data Science',end=" ") #when we mention end new line will not create
    j=1
    while j<=3:
        print('Technology', end=" ")
        j=j+1
    i=i+1
    print()

Data Science Technology Technology Technology
Data Science Technology Technology Technology
Data Science Technology Technology Technology
Data Science Technology Technology Technology

In [15]:
i=1
while i<=5:
    print('Learn',end=" ")
    j=1
    while j<=4:
        print('python',end=" ")
        j=j+1
    i=i+1
    print()

Learn python python python python
Learn python python python python
Learn python python python python
Learn python python python python
Learn python python python python

In [16]:
# lets use while loops with some numbers

In [19]:
i=1
while i<=4:
    j=0
    while j<=2:
        print(i*j, end=" ")
        j+=1
    print()
    i+=1

0 1 2
0 2 4
0 3 6
0 4 8

In [20]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

# while else loop

In [22]:
i = 10

while i <= 4 :
    j = 1
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
         
    print()
    i += 1
    
else:
    print('condition is not match')

condition is not match

# for loop

In [24]:
name='jalal'
for i in name:
    print(i)

j
a
l
a
l

In [27]:
name='naresh it'
for i in name:
    print(i)

n
a
r
e
s
h

i
t

In [29]:
name1= [2,5.4,'hi']
for i in name1:
    print(i)

2
5.4
hi

In [1]:
range(10)

range(0, 10)

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(10,50,5):
    print(i)

10
15
20
25
30
35
40
45

In [8]:
for i in range(4,20,2):
    print(i)

4
6
8
10
12
14
16
18

In [11]:
#print the value which is divisible by three 
for i in range(1,31):
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [12]:
#print the vslues which is divisible by 5
for i in range(1,51):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

# Break,Continue,Pass

In [14]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
for i in range(2,15):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14

In [24]:
for i in range(1,11): # It will break the loop
    if i==4:
        break
    print(i)

1
2
3

In [25]:
for i in range(2,21):
    if i==11:
        break
    print(i)

2
3
4
5
6
7
8
9
10

In [26]:
for i in range(1,11): #skips the positions
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [27]:
for i in range(0,9):
    if i==6:
        continue
    print(i)

0
1
2
3
4
5
7
8

In [28]:
for i in range(1,11): #skip the error
    pass

In [12]:
x=int(input('How many chocolate do you want?'))

i=1
while i<=x:
    print('chocolate:',i)
    i+=1

How many chocolate do you want? 5

chocolate: 1
chocolate: 2
chocolate: 3
chocolate: 4
chocolate: 5

In [15]:
available_chocolate=8 #the machine only has 8 chocolate
x=int(input('How many chocolate do you want:'))

i=1
while i<=x:
    if i>available_chocolate:
        print('out of stock')
        break
    print('chocolate',i)
    i+=1
print('bye for now')

How many chocolate do you want: 9

chocolate 1
chocolate 2
chocolate 3
chocolate 4
chocolate 5
chocolate 6
chocolate 7
chocolate 8
out of stock
bye for now

In [17]:
for i in range(1,51):
    if i%3==0 or i%5==0:
        continue
    print(i,end=" ")

1 2 4 7 8 11 13 14 16 17 19 22 23 26 28 29 31 32 34 37 38 41 43 44 46 47 49

In [19]:
nums=[12,15,18,20,25,26,40]
for num in nums:
    if num%5==0:
        print(num,end=" ")

15 20 25 40

In [20]:
nums=[12,15,18,20,25,26,40]
for num in nums:
    if num%5==0:
        print(num)
        break

15

In [21]:
nums=[12,14,16,17,18,19]
for num in nums:
    if num%5==0:
        print(num)
else:
    print('no number is not found')

no number is not found